.container {
    background-color: slategray;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.label {
    font-size: x-large;
    color: white;
    padding-bottom: 1rem;
}

.inputContainer {
    width: 12rem;
    font-size: large;
    border-radius: 1rem;
    padding: 0.5em;
    border: 0
}

.inputContainer:focus {
    outline: none
}

.searchButton {
    margin-top: 1rem;
    background-color: white;
    border: 0;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 1rem;
    font-size: medium;
}

.searchButton:hover {
    margin-top: 1rem;
    background-color: lightgray;
    border: 0;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 1rem;
    font-size: medium;
}
